aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astropy==5.0
astropy-healpix==0.7
astroquery==0.4.6
asttokens==2.0.5
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.2
black==22.10.0
bleach==6.0.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.0.3
cmasher==1.6.3
colorspacious==1.1.2
comm==0.1.2
corner==2.2.1
cosmoglobe==0.9.24
coverage==6.5.0
coveralls==3.3.1
cryptography==39.0.2
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
e13tools==0.9.6
ephem==4.1.3
executing==0.8.2
fastjsonschema==2.16.2
fonttools==4.33.3
fqdn==1.5.1
gitdb==4.0.10
GitPython==3.1.31
h5py==3.6.0
healpy==1.15.2
html5lib==1.1
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.21.2
ipympl==0.9.3
ipython==8.0.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
jaraco.classes==3.2.3
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.7.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.19.0
keyring==23.11.0
kiwisolver==1.4.2
llvmlite==0.38.1
MarkupSafe==2.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==2.0.5
more-itertools==9.1.0
mpi4py==3.1.3
mypy-extensions==0.4.3
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numba==0.55.2
numpy==1.22.1
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
path==16.5.0
pathspec==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pixell==0.16.0
platformdirs==3.0.0
plotly==5.8.0
prometheus-client==0.16.0
prompt-toolkit==3.0.24
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.1
pycparser==2.21
pyephem==9.99
pyerfa==2.0.0.1
pyFFTW==0.13.0+2.g7b773ed
Pygments==2.11.2
pyparsing==3.0.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyrsistent==0.19.3
pytest-cov==4.0.0
python-dateutil==2.8.2
python-git==2018.2.1
python-json-logger==2.0.7
pytz==2022.7.1
pyvo==1.4
PyYAML==6.0
pyzmq==25.0.0
reproject==0.10.0
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scikit-learn==1.2.1
scipy==1.7.3
SecretStorage==3.3.3
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
stack-data==0.1.4
tenacity==8.0.1
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==1.2.3
tornado==6.2
tqdm==4.64.0
traitlets==5.9.0
typing_extensions==4.0.1
uri-template==1.2.0
urllib3==1.26.14
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
widgetsnbextension==4.0.5
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.15.0
